<ion-content class="ion-padding animated fadeIn login auth-page">

  <div class="auth-content">

    <!-- Logo -->
    <div class="ion-padding-horizontal ion-text-center animated fadeInDown">
      <div class="logo"></div>
      <h2 class="ion-no-margin">
        <ion-text color="light">MovingTogether v0.2</ion-text>
      </h2>
      <ion-text color="light"><h5>uno per tutti, tutti per uno</h5></ion-text>
    </div>

    <!-- Login form -->
    <form [formGroup]="loginForm" (keydown)="keyDownFunction($event)" class="list-form">
      <ion-item lines="none" class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p class="ion-no-margin text08 msg" *ngIf="f.email.errors && hasError">
        <ion-text color="light" *ngIf="f.email.errors.required">
          Email è un campo obbligatorio
        </ion-text>
        <ion-text color="light" *ngIf="f.email.errors.email"> 
          Email non valido
        </ion-text>
      </p>

      <ion-item lines="none" class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock-closed-outline" item-start></ion-icon>
          Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p class="ion-no-margin text08 msg" *ngIf="f.password.errors && hasError">
        <ion-text color="light" *ngIf="f.password.errors.required">
          Password è un campo obbligatorio
        </ion-text>
        <ion-text color="light" *ngIf="f.password.errors.minlength"> 
          Password deve contenere almeno 6 caratteri
        </ion-text>
      </p>
    </form>

    <p tappable (click)="forgotPass()" class="ion-text-right paz">
      <ion-text color="light">
        <strong>Mi sono dimenticato la password</strong>
      </ion-text>
    </p>

    <div>
      <ion-button size="large" expand="full" shape="round" color="dark" (click)="login(loginForm)">
        <!-- [disabled]="isOffline" -->
        <ion-icon name="log-in" slot="end"></ion-icon>
        Entra
      </ion-button>

      <p class="ion-text-center ion-no-margin ion-margin-top">
        <ion-text color="light">
          <h2>Oppure entra con un tuo account Social </h2>
        </ion-text>
        <ion-text color="light">
          <h6>Per il momento puoi usare solo il tuo account Google o Gmail cliccando la G rossa</h6>
        </ion-text>
      </p>

      <ion-grid class="btn-group">
        <ion-row>
          <!-- <ion-col size="6">
            <ion-button color="facebook" shape="round" expand="full" (click)="loginWithFacebook()">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button color="twitter" shape="round" expand="full" (click)="loginWithTwitter()">
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col> -->
          <ion-col size="6" offset="3">
            <ion-button color="danger" shape="round" expand="full" (click)="loginWithGoogle()">
              <ion-icon slot="icon-only" name="logo-google"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <!-- Other links -->
    <div class="ion-text-center ion-margin-top">
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="light">
          {{ 'auth.login.question'  }} <strong>{{ 'auth.register.question.button'  }}</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>