<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button> 
    </ion-buttons> 
    <ion-title>Register your tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="user$ | async as user">
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Your tracker</ion-label>
    </ion-item>
    <ion-card-content>
      Your profile has a tracker registered with {{ user.providerId }} with user {{ user.providerUserId }}
    </ion-card-content>
    <ion-item>
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">{{ user.subscription | json }}</ion-label>
      <ion-button 
            *ngIf="user.token" 
            color="danger" 
            size="small"
            (click)="removeSubscription(user.token, user.providerId, user.providerUserId)">
          <ion-icon slot="start" name="trash"></ion-icon>
          Remove
      </ion-button>
    </ion-item>
  </ion-card>
<ion-list>
  <ion-item *ngFor="let dailySteps of steps$ |async">
    <ion-label>
      <h3>{{dailySteps.dateTime}}</h3>
      <h2>{{dailySteps.value}}</h2>
    </ion-label>
  </ion-item>
  
</ion-list>
  <ion-button (click)="linkWithFitbit()">Link a Fitbit</ion-button>

</ion-content>
