<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-menu-button></ion-menu-button> 
    </ion-buttons> 
    <ion-title>Moving Together</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Benvenuta/o a Moving Together</h1>
  <h3>Grazie per esserti registrato</h3>

  <ion-textarea>Per poter partecipare alle nostre sfide devi effettuare 2 passaggi:
    <ol>
      <li>Collega il tuo dispositivo conta passi</li>
      <li>Crea la tua squadra o accetta l'invito di una squadra già creata</li>
    </ol>
    Poi sei pronto a partecipare ad una sfida diversa ogni settimana
  </ion-textarea>

  

  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" size-md="6" size-xl="6">
        <div>
          <ion-button size="large" href="/tracker/register">Registra un dispositivo</ion-button>
        </div>
      </ion-col>
      <ion-col size-sm="12" size-md="6"  size-xl="6">
        <div>
          <ion-button size="large">Crea una squadra</ion-button>
        </div>
      </ion-col>
      <ion-col size-sm="12" size-md="6"  size-xl="6">
        <div>
          <ion-button size="large">Cerca una squadra</ion-button>
        </div>
      </ion-col>
      <ion-col size-sm="12" size-md="6"  size-xl="6">
        <div>
          <ion-button size="large">Cerca una sfida</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
